img{
    display: flex;
    margin-left: 26rem;
    margin-top: 10rem;
    border-radius: 50px;
}

body{
    font-family: sans-serif;
}

.correct {
    background-color: #04AA6D;
}

.wrong{
    background-color: red;
}

#next-button{
    display: flex;
    width: 200px;
    border-radius: 50px;
}

#restart_game{
    width: 200px;
    border-radius: 50px;
}


